﻿@model TRPOLabs.WebApp.Models.СircleViewModel

<div class="text-center">

    <div class="mt-5">
        <img src="https://allcalc.ru/images/ploshadksectora2.png" />
    </div>

    <form method="post">
       
        <div class="container text-center w-50 mt-3">


            <div class="input-group mt-3">
                <span class="input-group-text">Угол сектора, °</span>
                <input type="number" name="Radius" class="form-control" value="@Model.Radius">
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Радиус сектора, м.</span>
                <input type="number" name="SectorAngle" class="form-control" value="@Model.SectorAngle">
            </div>

            <div class="mt-3">
                <input type="submit" class="btn btn-success btn-lg" value="Расчёт" />
            </div>

            <div class="input-group mt-3">
                <span class="input-group-text">Площадь сектора, м².</span>
                <input type="text" disabled name="Result" class="form-control" value="@Model.Result">
            </div>

            <h2 class="mt-5">
                @ViewBag.Eror
            </h2>

        </div>
    </form>
</div>
